.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.header-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  width: 70px;
  height: 70px;
}

.brand-text {
  color: white;
  font-size: 2.5em;
  margin-left: 10px;
  font-weight: bold;
}
.brand-text:hover{
  color: #50a3c1;
}

.login-form {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-heading {
  text-align: center;
  color: black;
  font-size: x-large;
}

label {
  display: block;
  margin-top: 10px;
  color: black;
  font-size: large;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #45a049;
}

.buy-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #45a049;
}

